<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weatherly-help</title>
  <link rel="shortcut icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/font-awsome/css/all.css">
  <link rel="stylesheet" href="/font-awsome/js/fontawesome.min.js">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/Md Bootstrap/css/mdb.min.css">

</head>
<body> 
    {{>header}}
      <div class="container">
      <div class="row justify-content-center">
      <h2>page is under development </h2>
        </div>
    </div>
    <div class="container d-flex justify-content-center  m-4">
        
      <div class="row">
        <span> {{>fotter}} </span>

      </div>
    </div>
</body>
</html>